# ignore model checkpoint files
*.pt
*.ckpt
*.pth
*.h5

# ignore dataset files
*.npy
*.tar
*.tmp
*.mp4

# ignore Python cache files
**/__pycache__/
*.py[cod]

# ignore system files
.DS_Store
.vscode/
.idea/

# Ignore the folders and everything in it
expired/
test/
reserve/
hprc/
demo/
tb_logs/
wandb/
checkpoints/
results/

# Ignore the files
naviGen_Gemini.py
.gitleaks.toml